<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    
    <header class="main-header">

        <!-- NAVIGATION (top right) -->
        <div class="header-nav">
            <a href="/" class="nav-link">Sākums</a>
            <a href="/category/deserti" class="nav-link">Deserti</a>
            <a href="/category/pamatedieni" class="nav-link">Pamatēdieni</a>
            <a href="/category/uzkodas" class="nav-link">Uzkodas</a>
            <a href="/category/zupas" class="nav-link">Zupas</a>
        </div>

        <!-- CENTER TITLE -->
        <h1>Receptes</h1>

        <p class="header-subtitle">
            Tavas iecienītākās receptes vienuviet
        </p>

    </header>
    <main class="main-content">
    {% block content %}{% endblock %}
    </main>


    
    <main1 class="grid">
    {% for kategorija in kategorijas %}
        <a href="/category/{{ kategorija['type2'] }}" class="card">
            <img src="/static/images/{{ kategorija['type'] }}.jpg" alt="{{ kategorija['type'] }}">
            <h2>{{ kategorija["type"] }}</h2>
        </a>
    {% endfor %}
    </main1>

    

    <footer>
        <p>© 2026 Receptes</p>
    </footer>

</body>
</html>