{% extends "base.html" %}

{% block content %}
<div class="recipe-list">

    {% for recepte in receptes %}
    <a href="/recepte/{{ recepte['id'] }}">
    <div class="recipe-item {% if loop.index0 % 2 == 1 %}reverse{% endif %}">

        <div class="recipe-img">
            <img src="/static/images/{{ recepte['img_text'] }}" alt="{{ recepte['title'] }}">
        </div>
        <div class="recipe-text">
            <h2>{{ recepte["title"] }}</h2>
            <p>{{ recepte["recipie"] }}</p>
            <p></p>
        </div>

    </div>
    </a>
    {% endfor %}

</div>
{% endblock %}