{% extends "base.html" %}

{% block content %}
<div class="recipe-list">

    {% for recepte in receptes %}
    <div class="recipe-item {% if loop.index0 % 2 == 1 %}reverse{% endif %}">

        <div class="recipe-img">
            <img src="/static/images/{{ recepte['img_text'] }}" alt="{{ recepte['title'] }}">
        </div>

        <div class="recipe-text">
            <h2>{{ recepte["title"] }}</h2>
            <p>{{ recepte["recipie"] }}</p>
            <p></p>
            <p>Sastāvdaļas:</p>
            <ul class="ingredients">
                {% for sastavdala in ingredients %}
                    {% if sastavdala["recipe_id"] == recepte["id"] %}
                        <li>
                            <span class="ing-name">{{ sastavdala["ingredient"] }}</span>
                            <span class="ing-amount">{{ sastavdala["amount"] }} {{ sastavdala["unit"] }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock %}