{% extends "base.html" %}

{% block content %}

<div class="recipe-list">

    <div class="recipe-item">

        <div class="recipe-img-two">
            <img src="/static/images/{{ recipe['img_text'] }}" alt="{{ recipe['title'] }}">
        </div>

        <div class="recipe-text">
            <h2>{{ recipe["title"] }}</h2>

            <p>{{ recipe["recipie"] }}</p>

            <h3>Sastāvdaļas:</h3>

            <ul class="ingredients">
                {% for ing in ingredients %}
                    <li>
                        <span class="ing-name">{{ ing["ingredient"] }}</span>
                        <span class="ing-amount">
                            {{ ing["amount"] }} {{ ing["unit"] }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

<div class="recipe-list">
<h3>Komentāri:</h3>
<form action="/comment/create" method="POST">
    <input type="hidden" name="recipe_id" value="{{ recipe['id'] }}">

    <input type="text" name="user_id" placeholder="Tavs vārds" required>

    <textarea name="comment_text" placeholder="Tavs komentārs..." required></textarea>

    <label>Vērtējums (1-5):</label>
    <input type="number" name="rating" min="1" max="5" required>

    <button type="submit">Pievienot</button>
</form>

{% for comment in comments %}

    <div class="comment-box">
        <p><strong>{{ comment["user_id"] }}</strong></p>
        <p>{{ comment["comment_text"] }}</p>
        <p>{{ comment["rating"] }}/5</p>

        <form action="/comment/delete/{{ comment['id'] }}" method="POST">
            <button>Dzēst</button>
        </form>

    </div>


{% endfor %}
</div>

{% endblock %}